*:focus{
    outline: none;
    box-shadow: 0 0 0 2px #cccccccc;
}

body{
    font-family: 'Lato','roboto','Noto Sans', 'Microsoft JhengHei',sans-serif;
    line-height: $line-height-base !important;
    position: relative;
    color: $black;
}
header{
    z-index: $zindex-offcanvas;
}

img{
    max-width: 100%;
    height: auto;
	vertical-align: middle !important;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}

ol, ul, dl{
    margin-bottom: 0;
    list-style: none;
}


