<div class="row mt-5 mb-5 mb-md-7">
    <div class="col-12 col-lg-8">
        <div class="checkout-progress row position-relative">
            <div class="col">
                <div class="step active-dot step1">
                    <p>確認訂單</p>
                </div>
            </div>
            <div class="col">
                <div class="step step2">
                    <p>填寫訂購資訊</p>
                </div>
            </div>
            <div class="col">
                <div class="step step3">
                    <p>填寫付款資訊</p>
                </div>
            </div>
            <div class="col">
                <div class="step step4">
                    <p>完成訂購</p>
                </div>
            </div>
        </div>
    </div>
  </div>