<div class="col-12 col-lg-8 checkout-list CheckoutList">
    <ul class="list-unstyled">
        <!--------------->
        <li class="mb-5">
            <section class="cart-item alert fade show" role="alert">
                <!--btn-刪除品項-->
                    <div class="btnClose">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <i class="fal fa-times"></i>
                        </button>
                    </div>
                <div class="row flex-nowrap">
                    <!--資料-->
                    <div class="img col-5 col-md-3">
                        <a href="#" class="hover_scale" aria-label="展覽內容" title="了解展覽內容">
                            <img class="h-md-100 h-lg-auto" src="assets/images/alina-grubnyak-R84Oy89aNKs-unsplash.jpg" alt="2020 台味設計展">
                        </a>
                    </div>
                    <div class="col-7 col-md-4">
                        <ul class="ps-0 liststyle-none">
                            <li class="title">2020 台味設計展</li>
                            <li class="date">01 JUN — 31 OCT</li>
                            <li class="ticket">
                                <div>
                                    <p class="type">全票</p>
                                    <p class="number">1</p>
                                </div>
                                <p class="price">NT$350</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <div class="price">
                            <p>NT$350<p>
                        </div>
                    </div>
                    <!--功能列：張數加減-->
                    <div class="col-2 d-none d-md-block">
                        <div class="function">
                            <a href="#"><i class="fal fa-plus"></i></a>
                            <p>01</p>
                            <a href="#"><i class="fal fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        </li>

        <!-------->

        <li class="mb-5">
            <section class="cart-item alert fade show" role="alert">
                <!--btn-刪除品項-->
                    <div class="btnClose">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <i class="fal fa-times"></i>
                        </button>
                    </div>
                <div class="row flex-nowrap">
                    <!--資料-->
                    <div class="img col-5 col-md-3">
                        <a href="#" class="hover_scale" aria-label="展覽內容" title="了解展覽內容">
                            <img src="assets/images/michel-catalisano--a0D9LpcKV8-unsplash.jpg" alt="No.22 線上設計展">
                        </a>
                    </div>
                    <div class="col-7 col-md-4">
                        <ul class="ps-0">
                            <li class="title">No.22 線上設計展</li>
                            <li class="date">01 JUN — 31 OCT</li>
                            <li class="ticket">
                                <div>
                                    <p class="type">全票</p>
                                    <p class="number">1</p>
                                </div>
                                <p class="price">NT$350</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <div class="price">
                            <p>NT$350<p>
                        </div>
                    </div>
                    <!--功能列：張數加減-->
                    <div class="col-2 d-none d-md-block">
                        <div class="function">
                            <a href="#"><i class="fal fa-plus"></i></a>
                            <p>01</p>
                            <a href="#"><i class="fal fa-minus"></i></a>
                        </div>
                    </div>

                
                </div>
            </section>
        </li>

        <!-------->

        <li class="mb-5">
            <section class="cart-item alert fade show" role="alert">
                <!--btn-刪除品項-->
                    <div class="btnClose">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            <i class="fal fa-times"></i>
                        </button>
                    </div>
                <div class="row flex-nowrap">
                    <!--資料-->
                    <div class="img col-5 col-md-3">
                        <a href="#" class="hover_scale" aria-label="展覽內容" title="了解展覽內容">
                            <img class="h-md-100 h-lg-auto" src="assets/images/moralis-tsai-8xsktFRw28I-unsplash.jpg" alt="高雄設計節">
                        </a>
                    </div>
                    <div class="col-7 col-md-4">
                        <ul class="ps-0">
                            <li class="title">高雄設計節</li>
                            <li class="date">01 JUN — 31 OCT</li>
                            <li class="ticket">
                                <div>
                                    <p class="type">全票</p>
                                    <p class="number">1</p>
                                </div>
                                <p class="price">NT$350</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2 d-none d-md-block">
                        <div class="price">
                            <p>NT$350<p>
                        </div>
                    </div>
                    <!--功能列：張數加減-->
                    <div class="col-2 d-none d-md-block">
                        <div class="function">
                            <a href="#"><i class="fal fa-plus"></i></a>
                            <p>01</p>
                            <a href="#"><i class="fal fa-minus"></i></a>
                        </div>
                    </div>
                </div>
            </section>
        </li>
        
    </ul>
</div>