<header class="position-fixed w-100 bg-white border-bottom border-1 border-gray">
    <h1 class="position-absolute top-50 start-50 translate-middle">
        <a href="index.html" title="logo-回首頁" class="d-block p-5 text-primary" aria-label="logo-回首頁" tabindex=”0”>EXHIBINECTION</a>
    </h1>
    <nav class="container d-flex justify-content-end" aria-label="上方功能列" >
        <ul class="d-flex align-items-center nav-top">
            <li class="d-none d-md-block">
                <button type="button" class="btn link_nav" title="登入會員" aria-label="登入會員" href="#">Sign in</button>
            </li>
            <li class="d-none d-md-block">
                <button type="button" class="btn link_nav" title="註冊會員" aria-label="註冊會員" href="#">Sign up</button>
            </li>
            <li>
                <button type="button" class="btn link_nav position-relative" aria-label="票券購物車" href="#" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <span class="material-icons">
                    confirmation_number
                    </span>
                    <span class="cart-number fs-6 text-white align-top position-absolute start-65 top-35 translate-middle bg-secondary rounded-circle">
                    6
                    </span>
                </button>

                <!--側邊購物車 -->
                <%- include('_sidebar-cart.ejs') %>
            </li>
        </ul>
    </nav>
  </header>

<script>
    //關閉品項
      var alertList = document.querySelectorAll('.alert')
      alertList.forEach(function (alert) {
        new bootstrap.Alert(alert)
      })
</script>
       