<nav class="nav-main position-sticky bg-white border-bottom border-1 border-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 mx-auto">
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper d-flex justify-content-between">
                        <div class="swiper-slide">
                            <a href="#" title="連結至音樂" aria-label="連結至音樂">音樂</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" title="連結至戲劇" aria-label="連結至戲劇">戲劇</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="design.html" title="連結至設計" aria-label="連結至設計">設計</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" title="連結至藝術" aria-label="連結至藝術">藝術</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" title="連結至美食" aria-label="連結至美食">美食</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" title="連結至旅遊" aria-label="連結至旅遊">旅遊</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" title="連結至電影" aria-label="連結至電影">電影</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" title="連結至親子" aria-label="連結至親子">親子</a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" title="連結至期間限定" aria-label="連結至期間限定">期間限定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
