<!-- <nav class="nav-main poposition-sticky bg-white border-bottom border-1 border-gray d-none d-lg-block">
    <div class="container">
        <ul class="ms-auto me-auto col-9 row justify-content-between py-2">
            <li class="col">
                <a href="#" title="連結至音樂" aria-label="連結至音樂" class="lh-lg nav-link">音樂</a>
            </li>
            <li class="col">
                <a href="#" title="連結至戲劇" aria-label="連結至戲劇" class="lh-lg nav-link">戲劇</a>
            </li>
            <li class="col">
                <a href="design.html" title="連結至設計" aria-label="連結至設計" class="lh-lg nav-link">設計</a>
            </li>
            <li class="col">
                <a href="#" title="連結至藝術" aria-label="連結至藝術" class="lh-lg nav-link">藝術</a>
            </li>
            <li class="col">
                <a href="#" title="連結至美食" aria-label="連結至美食" class="lh-lg nav-link">美食</a>
            </li>
            <li class="col">
                <a href="#" title="連結至旅遊" aria-label="連結至旅遊" class="lh-lg nav-link">旅遊</a>
            </li>
            <li class="col">
                <a href="#" title="連結至電影" aria-label="連結至電影" class="lh-lg nav-link">電影</a>
            </li>
            <li class="col">
                <a href="#" title="連結至親子" aria-label="連結至親子" class="lh-lg nav-link">親子</a>
            </li>
            <li class="col">
                <a href="#" title="連結至期間限定" aria-label="連結至期間限定" class="lh-lg nav-link">期間限定</a>
            </li>
        </ul>
    </div>
</nav> -->
<nav class="nav-main poposition-sticky bg-white border-bottom border-1 border-gray">
    <div class="container">
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                    <div class="col swiper-slide">
                        <a href="#" title="連結至音樂" aria-label="連結至音樂" class="swiper-slide">音樂</a>
                    </div>
                    <div class="col swiper-slide">
                        <a href="#" title="連結至戲劇" aria-label="連結至戲劇" class="swiper-slide">戲劇</a>
                    </div>
                    <div class="col swiper-slide">
                        <a href="design.html" title="連結至設計" aria-label="連結至設計" class="swiper-slide">設計</a>
                    </div>
                    <div class="col swiper-slide">
                        <a href="#" title="連結至藝術" aria-label="連結至藝術" class="swiper-slide">藝術</a>
                    </div>
                    <div class="col swiper-slide">
                        <a href="#" title="連結至美食" aria-label="連結至美食" class="swiper-slide">美食</a>
                    </div>
                    <div class="col swiper-slide">
                        <a href="#" title="連結至旅遊" aria-label="連結至旅遊" class="swiper-slide">旅遊</a>
                    </div>
                    <div class="col swiper-slide">
                        <a href="#" title="連結至電影" aria-label="連結至電影" class="swiper-slide">電影</a>
                    </div>
                    <div class="col swiper-slide">
                        <a href="#" title="連結至親子" aria-label="連結至親子" class="swiper-slide">親子</a>
                    </div>
                    <div class="col swiper-slide">
                        <a href="#" title="連結至期間限定" aria-label="連結至期間限定" class="swiper-slide">期間限定</a>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</nav>
