<div class="OrderInfo col-12 col-lg-4 mb-13 d-none">
    <h4 class="fs-4 fw-medium mb-4 mb-md-5">付款資訊</h4>
    <form action="" method="post">
        <div class="mb-5">
            <label for="InputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="InputEmail" placeholder="example@gmail.com">
        </div>
        <div class="mb-5">
            <label for="InputName" class="form-label">姓名</label>
            <input type="text" class="form-control" id="InputName" placeholder="請輸入姓名">
        </div>
        <div class="mb-5">
            <label for="InputTel" class="form-label">聯絡電話</label>
            <input type="tel" class="form-control" id="InputTel" placeholder="請輸入電話">
        </div>
        <div class="mb-5">
            <label for="validationCoupon" class="form-text">優惠碼</label>
            <input type="text" class="form-control" id="validationCoupon" value="TG87526">
            <div class="fs-9 text-end text-primary">
              優惠碼已生效
            </div>
        </div>
    </form>
  </div>