<div class="PaymentInfo col-12 col-lg-4 mb-13 d-none">
    <h4 class="fs-4 fw-medium mb-4 mb-md-5">付款資訊</h4>
    <form action="" method="post">
        <div class="mb-5">
            <label for="InputCardId" class="form-label">信用卡帳號</label>
            <input type="email" class="form-control" id="InputCardId" placeholder="Xxxx-xxxx-xxxx-xxxx">
        </div>
        <div class="mb-5">
            <label for="InputExpiryDate" class="form-label">有效日期</label>
            <input type="text" class="form-control" id="InputExpiryDate" placeholder="(MM/YY)">
        </div>
        <div class="mb-5">
            <label for="InputSecuritycode" class="form-label">安全碼</label>
            <input type="tel" class="form-control" id="InputSecuritycode" placeholder="***">
        </div>
    </form>
  </div>