


<div class="offcanvas offcanvas-end bg-black px-4 pt-5 pb-7 ps-md-8 pe-md-5 pt-md-8 pb-md-6 g-md-0" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" class="fs-3 fs-md-1 mb-3 mb-md-4 fw-bold text-white d-inline-block">Cart List</h5>
    <div class="ms-auto d-block d-md-none">
      <button type="button" class="btn" title="登入會員" aria-label="登入會員" href="#">Sign in</button>
      <span class="text-white">|</span>
      <button type="button" class="btn" title="註冊會員" aria-label="註冊會員" href="#">Sign up</button>
    </div>
  </div>
  <div class="offcanvas-body scrollbar">
    <!--購物車清單-->
    <section class="sidebar-cart-item">
      <!--btn刪除-->
      <div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <!--主要內容-->
      <div class="body">
        <!--展覽資料-->
        <div class="col-md-9 content">
          <div class="img">
            <div class="ratio ratio-1x1">
              <a href="#" aria-label="展覽內容" title="了解展覽內容">
                  <img src="assets/images/alina-grubnyak-R84Oy89aNKs-unsplash.jpg" alt="2020 台味設計展">
              </a>
            </div>
          </div>
          <ul class="ps-0">
              <li class="title">2020 台味設計展</li>
              <li class="date">01 JUN — 31 OCT</li>
              <li>全票</li>
              <li class="price">NT$350</li>
          </ul>
        </div>
        <!--功能列：張數加減-->
        <div class="function ms-auto">
          <a href="#"><i class="fal fa-plus"></i></a>
          <p>01</p>
          <a href="#"><i class="fal fa-minus"></i></a>
        </div>
      </div>
    </section>

    <section class="sidebar-cart-item">
      <!--btn刪除-->
      <div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <!--主要內容-->
      <div class="body">
        <!--展覽資料-->
        <div class="col-md-9 content">
          <div class="img">
            <div class="ratio ratio-1x1">
              <a href="#" aria-label="展覽內容" title="了解展覽內容">
                  <img src="assets/images/michel-catalisano--a0D9LpcKV8-unsplash.jpg" alt="2020 台味設計展">
              </a>
            </div>
          </div>
          <ul class="ps-0">
              <li class="title">2020 台味設計展</li>
              <li class="date">01 JUN — 31 OCT</li>
              <li>全票</li>
              <li class="price">NT$350</li>
          </ul>
        </div>
        <!--功能列：張數加減-->
        <div class="function ms-auto">
          <a href="#"><i class="fal fa-plus"></i></a>
          <p>01</p>
          <a href="#"><i class="fal fa-minus"></i></a>
        </div>
      </div>
    </section>

    <section class="sidebar-cart-item">
      <!--btn刪除-->
      <div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <!--主要內容-->
      <div class="body">
        <!--展覽資料-->
        <div class="col-md-9 content">
          <div class="img">
            <div class="ratio ratio-1x1">
              <a href="#" aria-label="展覽內容" title="了解展覽內容">
                  <img src="assets/images/moralis-tsai-8xsktFRw28I-unsplash.jpg" alt="2020 台味設計展">
              </a>
            </div>
          </div>
          <ul class="ps-0">
              <li class="title">2020 台味設計展</li>
              <li class="date">01 JUN — 31 OCT</li>
              <li>全票</li>
              <li class="price">NT$350</li>
          </ul>
        </div>
        <!--功能列：張數加減-->
        <div class="function ms-auto">
          <a href="#"><i class="fal fa-plus"></i></a>
          <p>01</p>
          <a href="#"><i class="fal fa-minus"></i></a>
        </div>
      </div>
    </section>

    <section class="sidebar-cart-item">
      <!--btn刪除-->
      <div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <!--主要內容-->
      <div class="body">
        <!--展覽資料-->
        <div class="col-md-9 content">
          <div class="img">
            <div class="ratio ratio-1x1">
              <a href="#" aria-label="展覽內容" title="了解展覽內容">
                  <img src="assets/images/alina-grubnyak-R84Oy89aNKs-unsplash.jpg" alt="2020 台味設計展">
              </a>
            </div>
          </div>
          <ul class="ps-0">
              <li class="title">2020 台味設計展</li>
              <li class="date">01 JUN — 31 OCT</li>
              <li>全票</li>
              <li class="price">NT$350</li>
          </ul>
        </div>
        <!--功能列：張數加減-->
        <div class="function ms-auto">
          <a href="#"><i class="fal fa-plus"></i></a>
          <p>01</p>
          <a href="#"><i class="fal fa-minus"></i></a>
        </div>
      </div>
    </section>

    <section class="sidebar-cart-item">
      <!--btn刪除-->
      <div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <!--主要內容-->
      <div class="body">
        <!--展覽資料-->
        <div class="col-md-9 content">
          <div class="img">
            <div class="ratio ratio-1x1">
              <a href="#" aria-label="展覽內容" title="了解展覽內容">
                  <img src="assets/images/michel-catalisano--a0D9LpcKV8-unsplash.jpg" alt="2020 台味設計展">
              </a>
            </div>
          </div>
          <ul class="ps-0">
              <li class="title">2020 台味設計展</li>
              <li class="date">01 JUN — 31 OCT</li>
              <li>全票</li>
              <li class="price">NT$350</li>
          </ul>
        </div>
        <!--功能列：張數加減-->
        <div class="function ms-auto">
          <a href="#"><i class="fal fa-plus"></i></a>
          <p>01</p>
          <a href="#"><i class="fal fa-minus"></i></a>
        </div>
      </div>
    </section>

    <section class="sidebar-cart-item">
      <!--btn刪除-->
      <div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <!--主要內容-->
      <div class="body">
        <!--展覽資料-->
        <div class="col-md-9 content">
          <div class="img">
            <div class="ratio ratio-1x1">
              <a href="#" aria-label="展覽內容" title="了解展覽內容">
                  <img src="assets/images/moralis-tsai-8xsktFRw28I-unsplash.jpg" alt="2020 台味設計展">
              </a>
            </div>
          </div>
          <ul class="ps-0">
              <li class="title">2020 台味設計展</li>
              <li class="date">01 JUN — 31 OCT</li>
              <li>全票</li>
              <li class="price">NT$350</li>
          </ul>
        </div>
        <!--功能列：張數加減-->
        <div class="function ms-auto">
          <a href="#"><i class="fal fa-plus"></i></a>
          <p>01</p>
          <a href="#"><i class="fal fa-minus"></i></a>
        </div>
      </div>
    </section>
  </div>
  <div class="text-white fs-4 fw-medium pt-5 d-flex justify-content-between align-items-center">
    <div>
      <span class="me-6">小計</span>
      <span>NT＄1050</span>
    </div>
    <a href="#" class="btn btn-white lh-lg px-7">前往結帳</a>
  </div>
  
</div>

