.link_nav{
    color: $dark;
    &:hover{
        color: $primary;
    }
}

.link-default{
    @include link-default;
}

.hover_underline{
    @include hover_underline ($dark,$secondary,$primary){}
}

.hover_scale{
    display: inline-block;
    transition: all 0.25s ease-in-out;
    opacity: 100%;

    &:hover,&:focus,&:active {
        opacity: 95%;
        transform: scale(0.98);
    }

}

