@mixin bg-cover($width, $height, $position) {
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $position;
    @content;
}

@mixin img-cover($width, $height) {
    width: $width;
    height: $height;
    object-fit: cover;
    @content;
}

@mixin img-height-fixed($height) {
    width: 100%;
    height: $height;
    object-fit: cover;
    @content;
}


//連結樣式
@mixin hover_underline($textcolor,$bordercolor,$hovercolor) {
    display: inline-block;
    box-shadow: 0 1px 0 0 rgba($bordercolor,0%);
    transition: all 0.25s ease-in-out;
    color: $textcolor !important;
    &:hover {  
        color: $hovercolor !important; 
        box-shadow: 0 1px 0 0 rgba($bordercolor,100%);
    }
    @content;
}

@mixin link-default{
    color: $black !important;
    &:hover{
        color: $primary !important;
    }
    @content;
}

//結帳進度 點點
@mixin checkout-dot($bg-color) {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%,-25%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $bg-color;
    @content;
}

//購物車品項
@mixin cart-item(){
    .body,.content{
        display: flex;
        flex-wrap: nowrap;
    }

    .title{
        font-weight: $font-weight-bold;
        margin-bottom: $spacer;
    }

    .dete{
        font-weight: $font-weight-medium;
        margin-bottom: $spacer;
    }
    
    .price,.number{
        font-size: $h4-font-size; //20
        font-weight: $font-weight-bold;
    }

    .function{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(md){
            flex-wrap: nowrap;
        }

        a{
            display: inline-block;
            @include link-default;
            padding: $spacer * 3;
        }
        p{
            margin-bottom: 0;
            display: inline-block;
            font-weight: $font-weight-bold;
            font-size: $h4-font-size;
        }

    }
    @content;
}



